.fancy-layout	{
	background-color: hotpink;
}

p {
	font-family: "Comic Sans MS";
	font-size: 2rem;
	font-weight: bold;
	font-style: italic;
	color: red;
	background-color: blue;
	max-width: 40%;
	border-radius: 20px;
	border: 12px hotpink dotted
}